{
    "web":{
       "issuer":"https://gitlab.com/",
       "name":"Gitlab"
       "client_id":"INSERT_CLIENT_ID_FROM_IDP_APPLICATION",
       "client_secret":"INSERT_CLIENT_SECRET_FROM_IDP_APPLICATION",
       "auth_uri":"https://gitlab.com/oauth/authorize",
       "redirect_urls":[
          "http://localhost:8060",
          "http://localhost:8060/oidc_callback",
          "http://localhost:8060/home",
          "http://localhost:8060/login"
       ],
  
       "token_uri":"https://gitlab.com/oauth/token",
       "userinfo_uri": "https://gitlab.com/oauth/userinfo"
    }
  }